.boton {
    background-color: #00AA00;
    padding: 15px;
    border-bottom: 6px solid #51D851;
    border-radius: 6px;
    -webkit-border-radius: 5px;
    width: 100%;
}


/*seudoselector*/

.boton:hover {
    background-color: #00AA00;
    border-top: 6px solid #51D851;
    border-bottom: 0 none;
}

.boton_a {
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

.boton_title {
    font-size: 20px;
    font-variant: normal;
    padding-bottom: 5px;
}

.boton_desc {
    font-size: 10px;
    font-variant: normal;
}

.boton_tac {
    display: table-cell;
    height: 50px;
    width: 140px;
    padding-top: 40px;
    padding-left: 80px;
    /* position: static; */
    margin-top: 100px;
    color: #171742;
    font-size: 19px;
    font-weight: bold;
}

.boton_print {
    background-image: url('../img/btn/Print.png');
    background-repeat: no-repeat;
}

.boton_logOut {
    background-image: url('../img/btn/Salir.png');
    background-repeat: no-repeat;
}

.boton_Simular {
    background-image: url('../img/btn/Simular.png');
    background-repeat: no-repeat;
}

.boton_New {
    background-image: url('../img/btn/new.png');
    background-repeat: no-repeat;
}

.boton_Buscar {
    background-image: url('../img/btn/Buscar.png');
    background-repeat: no-repeat;
}

.boton_Email {
    background-image: url('../img/btn/Email.png');
    background-repeat: no-repeat;
}