* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: block;
    margin: 0px !important;
    background: #DC0A23
}

html,
body,
main {
    height: 100%
}

body {
    position: relative;
}

body:before,
body:after {
    content: "";
    background: url(../../img/Estrellas.png) no-repeat;
    position: absolute;
    width: 100%;
    z-index: 99;
    height: 300px;
}

body:before {
    top: 30px;
    left: 30px;
    background-position: left;
}

body:after {
    bottom: 30px;
    right: 30px;
    background-position: right;
}

.title {
    font-size: 2.8em;
    font-weight: bold;
    width: 80%;
    margin: 30px auto;
}

h2,
h4 {
    font-size: 4em;
    color: #fff
}

h3 {
    font-size: 2.5em;
    color: #fff
}

h4 {
    font-size: 1.9em !important;
    color: #fff
}

h3,
h4 {
    padding: 30px
}

p {
    margin: 20px 0;
    color: #fff
}

p,
button {
    font-size: 2em
}

button {
    padding: 20px 30px;
    color: #DC0A23;
    background: #fff;
    margin: 20px 0
}

.text-center {
    text-align: center !important;
    width: 100%
}

.master-video {
    z-index: 999999;
}

.estamos {
    color: #fff;
    font-size: 2.2em;
    text-align: center;
    position: fixed;
    bottom: 320px;
    width: 100%;
    font-weight: bold;
}

#videos {
    width: 100%;
    position: relative;
    background-color: #fff;
}

main {
    padding: 2%;
    width: 100% !important;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#mainVideo {
    padding: 0px !important;
}

#videos #localVideo {
    width: 25%;
}

#videos #remoteVideo {
    width: 100%;
    height: 650px !important;
    background-color: #fff;
}

#mano {
    position: absolute;
    z-index: 999;
    text-align: center;
    width: 100%;
    margin-top: 70px;
    top: 35%;
    left: 0%;
}

#mano button {
    padding: 0;
    color: #DC0A23;
    background: transparent;
    margin: 0;
    outline: none;
    border: 0px;
}

#mano button img {
    width: 10em;
}

#header {
    color: #fff;
    width: 80%;
    text-align: center;
    font-size: 1.9em;
    padding: 0px 10px;
    position: absolute;
    top: 20%;
    left: 10%;
}

#directo {
    font-size: 1.5em;
    position: absolute;
    top: 31%;
    right: 4%;
    display: table;
    width: 170px;
    height: 75px;
}

#directo div {
    display: table-row;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

#directo div:first-child span {
    display: table-cell;
    background-color: #DC0A23;
    vertical-align: middle;
    text-align: center;
    /* padding: 1px 0.5em; */
    color: #fff;
    font-size: 1em;
}

#directo div:last-child span {
    display: table-cell;
    background-color: #fff;
    vertical-align: middle;
    text-align: center;
    /* padding: 1px 0.5em; */
    color: #DC0A23;
    font-size: 1em;
}

.cargando {
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#localVideo {
    position: absolute;
    top: 5.5%;
    left: 8%;
}

.video-container {
    position: relative;
    height: 100%;
    width: 100%;
}


/* LOADING */

.spinner {
    width: 10em;
    height: 10em;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/* CARGANDO */

.loading-page {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px !important;
    left: 0%;
}

.counter {
    text-align: center;
}

.counter p {
    font-size: 40px;
    font-weight: 100;
    color: #f60d54;
}

.counter h1 {
    color: white;
    font-size: 60px;
    margin-top: -10px;
}

.counter hr {
    background: #fff;
    border: none;
    height: 0.5em;
}

.counter {
    position: relative;
    width: 200px;
    display: none;
}