/*===========================================================
                         HEADER       
=============================================================*/

@import url('css/Loading.css');
@import url('css/Formas.css');

/*===========================================================
                         BODY       
=============================================================*/

body {
    display: block;
    margin: 0px;
    background-color: rgb(237, 241, 255);
    background-color: rgba(244, 245, 249, 0.43);
}